.page {
  background: #ececec;
  left: 0;
  top: 0;
  height: 100%;
  width: 100%;
  overflow-y: auto;
  position: absolute;

  &-url {
    padding: 2px 8px;
    background: white;
  }

  &-body {
    margin: 16px;
    background: white;
    padding: 16px;
  }

  &-display {
    border: 1px solid #e8e8e8;
    padding: 16px;
    min-height: 200px;
  }
}
